.cart-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.close-cart {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  z-index: 1001;
}


.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-header h2 {
  font-size: 1.5rem;
}

.empty-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.empty-btn:hover {
  background-color: #c82333;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.cart-table th, .cart-table td {
  padding: 0.8rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.product-image {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.qty-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.qty-buttons button {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.buy-btn {
  background-color: blue;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #1e7e34;
}


.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.total-price {
  color: red;
}

.checkout-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #1e7e34;
}
